<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stomatologyapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stomatologyapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>stomatologyapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$stomatologyapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SQLExpress" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:stomatologyapidp.database.windows.net,1433;Initial Catalog=stomatologyapi_db;User ID=stomatologysa@stomatologyapidp;Password=UJPfJy2HqhaJfKbYKCY6" Name="Data Source=tcp:stomatologyapidp.database.windows.net,1433;Initial Catalog=stomatologyapi_db;User Id=stomatologysa@stomatologyapidp;Password=UJPfJy2HqhaJfKbYKCY6" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StomatologyAPI.Models.ApplicationDbContext, StomatologyAPI" MigrationConfiguration="StomatologyAPI.Migrations.Configuration, StomatologyAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:stomatologyapidp.database.windows.net,1433;Initial Catalog=stomatologyapi_db;User ID=stomatologysa@stomatologyapidp;Password=UJPfJy2HqhaJfKbYKCY6" Name="Data Source=tcp:stomatologyapidp.database.windows.net,1433;Initial Catalog=stomatologyapi_db;User Id=stomatologysa@stomatologyapidp;Password=UJPfJy2HqhaJfKbYKCY6" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StomatologyAPI-20160512092852.mdf;Initial Catalog=aspnet-StomatologyAPI-20160512092852;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-StomatologyAPI-20160512092852.mdf;Initial Catalog=aspnet-StomatologyAPI-20160512092852;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stomatologyapidp.database.windows.net,1433;Initial Catalog=stomatologyapi_db;User Id=stomatologysa@stomatologyapidp;Password=UJPfJy2HqhaJfKbYKCY6</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLExpress-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stomatologyapidp.database.windows.net,1433;Initial Catalog=stomatologyapi_db;User Id=stomatologysa@stomatologyapidp;Password=UJPfJy2HqhaJfKbYKCY6</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>